#workspace{
    height: 100%;
    display: flex;
    overflow-x: scroll;
    margin-right: 8px;
}

.title{
    display: flex;
    flex-wrap: nowrap;
}

.board-blue{
    background-color: #003363;
    color: whitesmoke;
}

.tcol{
    width: 325px;
    height: 700px;
    margin: 0 8px;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

form.colinput{
    display: none;
}

.notes{
    overflow-x: hidden;
    overflow-y: auto;
    height: 92%;
}

.cardst{
    display: flex;
    flex-wrap: wrap;
    width: 291px;
}

.cardst h5{
    white-space: nowrap;
    flex-grow: 2;
}

.cardst button{
    padding: 5px 20px;
}

.cardst p{
    align-self: flex-end;
    white-space: break-spaces;
    width: 260px;
}

.addcol{
    border: 1px dotted gray;
    width: 325px;
    height: 180px;
    margin: 0 8px;
    flex-shrink: 0;
    text-align: center;
}

.layout{
    display: flex;
    flex-wrap: wrap;
}

.pbord{
    margin: 8px;
}

.col-ui{
    display: flex;
    align-items: center;
    align-content: flex-start;
}

.col-ui h5{
    flex-grow: 4;
}

.addcard{
    display: none;
}

.cardok{
    width: 48%;
    margin-left: 4px;
}

.card_form{
    display: none;
}

.cardno{
    width: 48%;
    padding: 4px;
}

.cardcancel{
    width: 48%;
    padding: 7px;
}

.cardmakespace{
    height: 5em;
}

div.delprt{
    display: none;
    width: 260px;
}

div.delcol{
    display: none;
    width: 268px;
}

div.delbrd{
    width: 250px;
    white-space: initial;
    padding-bottom: 16px;
    border-radius: 12px;
    background-color: rgb(224, 180, 180);
    border: 2px solid red;
    margin: 16px 0;
    display: none;
}

div.addfr{
    width: 165px;
    white-space: initial;
    padding-bottom: 16px;
    border-radius: 12px;
    background-color: rgb(180, 210, 224);
    border: 2px solid cornflowerblue;
    margin: 16px 0;
    display: none;
}

.boardlink{
    text-decoration: none;
}

.boardlink:hover{
    text-decoration: underline;
}

/* messages colors */

.error{
    background-color: #ffdddd;
}

.success{
    background-color: #dfd;
}

.warning{
    background-color: #ffffcc;
}

/* COLORS */

.lite-gray .notes .w3-container, .lite-gray .w3-container{
    background-color: #c5c5c5;
}

.red .notes .w3-container, .red .w3-container{
    background-color: rgb(194, 66, 66);
    color: whitesmoke;
}

.orange .notes .w3-container, .orange .w3-container{
    background-color: #ffc107;
}

.yellow .notes .w3-container, .yellow .w3-container{
    background-color: #f0e68c;
}

.forest-green .notes .w3-container, .forest-green .w3-container{
    background-color: rgb(0, 136, 0);
    color: whitesmoke;
}

.lime-green .notes .w3-container, .lime-green .w3-container{
    background-color: lightgreen;
}

.sky-blue .notes .w3-container, .sky-blue .w3-container{
    background-color: lightskyblue;
}

.sea-blue .notes .w3-container, .sea-blue .w3-container{
    background-color: mediumblue;
    color: whitesmoke;
}

.indigo .notes .w3-container, .indigo .w3-container{
    background-color: #3f51b5;
    color: whitesmoke;
}

.violet .notes .w3-container, .violet .w3-container{
    background-color: darkorchid;
    color: whitesmoke;
}

.pink .notes .w3-container, .pink .w3-container{
    background-color: pink;
}

.black .notes .w3-container, .black .w3-container{
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
}

.white .notes .w3-container, .white .w3-container{
    background-color: whitesmoke;
    color: rgb(20, 20, 20);
}
