#workspace{
    height: 100%;
    display: flex;
    overflow-x: scroll;
    margin-right: 8px;
}

.tcol{
    width: 325px;
    height: 700px;
    margin: 0 8px;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.notes{
    overflow-x: hidden;
    overflow-y: auto;
    height: 92%;
}

.addcol{
    border: 1px dotted gray;
    width: 325px;
    height: 180px;
    margin: 0 8px;
    flex-shrink: 0;
    text-align: center;
}

.lite-gray .notes .w3-container, .lite-gray .w3-container{
    background-color: #c5c5c5;
}



/* .image{
    width: 100%;
} */