#workspace{
    height: 100%;
    display: flex;
    overflow-x: scroll;
    margin-right: 8px;
}

.tcol{
    width: 325px;
    height: 700px;
    margin: 0 8px;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.notes{
    overflow-x: hidden;
    overflow-y: auto;
    height: 92%;
}

.addcol{
    border: 1px dotted gray;
    width: 325px;
    height: 180px;
    margin: 0 8px;
    flex-shrink: 0;
    text-align: center;
}

.lite-gray .notes .w3-container, .lite-gray .w3-container{
    background-color: #c5c5c5;
}

.layout{
    display: flex;
    flex-wrap: wrap;
}

.borderbtn{
    margin: 8px;
}

.col-ui{
    display: flex;
    align-items: center;
    align-content: flex-start;
}

.col-ui h5{
    flex-grow: 4;
}

.addcard{
    display: none;
}

.cardok{
    width: 48%;
    margin-left: 4px;
}

.cardcancel{
    width: 48%;
    padding: 7px;
}



/* .image{
    width: 100%;
} */