<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'kanbanstyle.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/solid.css" integrity="sha384-LA8Ug4T/nhVkyhrSmSirsoAo9iDrBk8E7U80aSPeD+w3vO8PzOJIS6agGcbIwwX0" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'jquery-ui.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="icon" href="../static/CanDoLogosmall.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'jquery-ui.js' %}" defer></script> 
    <script src="{% static 'kb.js' %}" defer></script>
    <title>Can Do {{ work_board.title }}</title>
</head>
<body>
    <div class="w3-bar w3-light-blue">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hover-light-blue">Welcome to <strong>Can Do</strong></a>
        <a href="/profile/{{ user.id }}" class="w3-bar-item w3-button w3-padding-16 w3-hover-blue">Profile</a>
        <a href="/select" class="w3-bar-item w3-button w3-padding-16 w3-hover-green">New Board +</a>
        <!-- <a href="/friends" class="w3-bar-item w3-button w3-padding-16 w3-hover-indigo">Friends</a> -->
        <a href="/logout" class="w3-bar-item w3-button w3-padding-16 w3-right">Logout</a>
    </div>

    {% if messages %}
            <div class="w3-panel w3-display-container w3-border">
                <span onclick="this.parentElement.style.display='none'"
                class="w3-button w3-display-topright">X</span>
                {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
    {% endif %}

    
    {% block content %}
    {% endblock %}
</body>
</html>