{% extends 'base.html' %}

{% block content %}
<div class="w3-container">
    <div class="w3-container w3-opacity w3-border-bottom w3-margin-bottom">
        <h2>Friends on the App</h2>
    </div>
    <!-- board buttons -->
    <div class="layout">
        {% for friend in friends %}
            <div class="pbord w3-container w3-round-xlarge w3-border">
                <h4><a href="#" class="boardlink">{{ friend.username }}</a></h4>
                <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                
                <i class="addy w3-button w3-medium fas fa-user-plus w3-text-gray w3-hover-text-blue"></i>
                <div class="addfr w3-card-4 w3-container"> <!--delbrd was here-->
                    <p>Want to add this connection?</p>
                    <form action="#">
                        {% csrf_token %}
                        <button type="submit" class="w3-button w3-border w3-border-blue w3-hover-text-white w3-hover-blue w3-round">Add!</button>
                    </form>
                </div>
                
            </div>
        {% endfor %}
    </div>

    <!-- Modal forms -->
</div>
{% endblock %}