<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/kanbanstyle.css">
    <title>Can Do</title>
</head>
<body>
    <div class="w3-bar w3-light-blue">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hover-light-blue">Welcome to Can Do</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-16">Profile</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-16">Tasks</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-16">New Board +</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-right">Logout</a>
    </div>
    <div class="w3-bar w3-amber w3-margin-bottom">
        <h1 class="w3-bar-item">Project Renovation</h1>
    </div>
    <div class="w3-row" id="workspace">

        <div class="w3-col tcol w3-pale-blue">
            <div class="w3-container w3-light-blue">
                <h3>Work Pool</h3>
            </div>
            <div class="w3-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut in molestias soluta tenetur nam rem officia, nisi eos. Suscipit, porro tempora quae odio error minus soluta laborum neque magni laboriosam?</p>
            </div>
        </div>
        <div class="w3-col tcol w3-pale-yellow">
            <div class="w3-container w3-khaki">
                <h3>In Progress</h3>
            </div>
            <div class="w3-container w3-padding-16">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut in molestias soluta tenetur nam rem officia, nisi eos. Suscipit, porro tempora quae odio error minus soluta laborum neque magni laboriosam?</p>
            </div>
            <div class="w3-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut in molestias soluta tenetur nam rem officia, nisi eos. Suscipit, porro tempora quae odio error minus soluta laborum neque magni laboriosam?</p>
            </div>
        </div>
        <div class="w3-col tcol w3-pale-green">
            <div class="w3-container w3-light-green">
                <h3>Done</h3>
            </div>
            <div class="w3-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut in molestias soluta tenetur nam rem officia, nisi eos. Suscipit, porro tempora quae odio error minus soluta laborum neque magni laboriosam?</p>
            </div>
        </div>
        <div class="w3-col tcol w3-pale-red">
            <div class="w3-container w3-red w3-opacity">
                <h3>Problem</h3>
            </div>
            <div class="w3-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut in molestias soluta tenetur nam rem officia, nisi eos. Suscipit, porro tempora quae odio error minus soluta laborum neque magni laboriosam?</p>
            </div>
        </div>

    </div>
</body>
</html>