<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Can Do</title>
</head>
<body>
    <div class="w3-bar w3-light-blue">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hover-light-blue">Welcome to Can Do</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-16">Profile</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-16">Tasks</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-16">New Board +</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-right">Logout</a>
    </div>
    <div class="w3-bar w3-amber">
        <h1 class="w3-bar-item">Project Renovation</h1>

    </div>
</body>
</html>