{% extends 'base.html' %}

{% block content %}
<!-- {% if messages %}
            <div class="w3-panel w3-display-container w3-border">
                <span onclick="this.parentElement.style.display='none'"
                class="w3-button w3-display-topright">X</span>
                {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
    {% endif %} -->
<div class="w3-content w3-margin-top w3-light-grey">
    <div class="w3-row-padding">

        <div class="w3-third">
            <div class="w3-card-4 w3-text-grey w3-white">
                <!-- <div class="w3-display-container">
                    <img src="#" alt="profile picture" class="image">
                </div> -->
                
                <div class="w3-container">
                    <h2><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-light-blue"></i>{{ thisuser.first_name }} {{ thisuser.last_name }}</h2>
                    <p><i class="fa fa-at fa-fw w3-margin-right w3-large w3-text-light-blue"></i>{{ thisuser.username }}</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-light-blue"></i>{{ thisuser.email }}</p>
                    <p><i class="fa fa-calendar fa-fw w3-margin-right w3-large w3-text-light-blue"></i>Member since: {{ thisuser.created_at|date:'M-d-Y' }}</p>
                    {% if thisuser.id == user.id %}
                    <button class="profbox w3-button w3-round-large w3-right w3-margin-bottom"><i class="fa fa-edit w3-large w3-text-light-blue"></i>Edit</button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-book-reader w3-margin-right w3-xxlarge w3-text-light-blue"></i>About Me</h2>
                <div class="w3-container">
                    <!-- user.about_me goes here -->
                    <p>{{ thisuser.about_me }}</p>
                    <!-- button for Modal -->
                    {% if thisuser.id == user.id %}
                    <button class="editbox w3-button w3-round-large w3-right w3-margin-bottom"><i class="fa fa-edit w3-large w3-text-light-blue"></i>Edit</button>
                    {% endif %}
                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-sticky-note w3-margin-right w3-xxlarge w3-text-light-blue"></i>{{ thisuser.username }}'s Boards</h2>
                <!-- Task cards to generate -->
                    {% for boards in thisuser.user_boards.all %}
                        <div class="w3-container w3-border w3-round-large w3-margin"> 
                            <h5 class="w3-opacity"><b>{{ boards.title }}</b></h5>
                            <p>{{ boards.created_at|date:'M-d-Y' }}</p>
                        </div>
                    {% endfor %}
            </div>
            <!-- End Right Column -->
        </div>
    </div>
    <!-- End of content -->
</div>

<!-- Editing Modal -->
{% if thisuser.id == user.id %}
    <div id="editabout" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container w3-light-blue">
                <h3>Your Info</h3>
            </div>
            <div class="w3-container">
                <span class="profile w3-button w3-display-topright">&times;</span>
                <form action="{{ thisuser.id }}/editabout" class="w3-container" method="POST">
                    {% csrf_token %}
                    <h5>Edit your About Me</h5>
                    <textarea name="aboutme" id="abt" cols="60" rows="5" class="w3-input w3-margin-bottom">{{ thisuser.about_me }}</textarea>
                    <br>
                    <button type="submit" class="w3-button w3-green w3-round w3-margin-bottom">Enter</button>
                    <a class="cancel w3-button w3-border w3-border-red w3-text-red w3-round w3-margin-bottom w3-right">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endif %}


<!-- Prof Modal -->
{% if thisuser.id == user.id %}
    <div id="editprof" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container w3-light-blue">
                <h3>Your Info</h3>
            </div>
            <div class="w3-container">
                <span class="profile w3-button w3-display-topright">&times;</span>

                {% if messages %}
                    <div class="w3-panel w3-display-container w3-border">
                        <span onclick="this.parentElement.style.display='none'"
                        class="w3-button w3-display-topright">X</span>
                        {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <form action="{{ thisuser.id }}/editinfo" class="w3-container" method="POST">
                    {% csrf_token %}
                    <h5>Edit your Profile</h5>
                    <p>
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="fname" class="w3-input w3-border w3-light-grey" value="{{ thisuser.first_name }}"></p>
                    <p>
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lname" class="w3-input w3-border w3-light-grey" value="{{ thisuser.last_name }}"></p>
                    <p>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="uname" class="w3-input w3-border w3-light-grey" value="{{ thisuser.username }}"></p>
                    <p>
                    <label for="em">Email</label>
                    <input type="email" id="em" name="email" class="w3-input w3-border w3-light-grey" value="{{ thisuser.email }}"></p>
                    <button type="submit" class="w3-button w3-green w3-round w3-margin-bottom">Enter</button>
                    <a class="cancel w3-button w3-border w3-border-red w3-text-red w3-round w3-margin-bottom w3-right">Cancel</a>
                </form>
                <hr>
                <form action="{{ thisuser.id }}/editpass" class="w3-container" id="editpass" u-id='{{ thisuser.id }}' method="POST">
                    {% csrf_token %}
                    <h5>Change password</h5>
                    <p>
                        <label for="check">Current Password</label>
                        <input type="password" id="check" name="pwcheck" class="w3-input w3-border w3-light-grey">
                    </p>
                    <br>
                    <p>
                        <label for="newpw">Enter new password</label>
                        <input type="password" id="newpw" name="newpassword" class="w3-input w3-border w3-light-grey">
                    </p>
                    <p>
                        <label for="confpw">Confirm new password</label>
                        <input type="password" id="checknewpw" name="matchpassword" class="w3-input w3-border w3-light-grey">
                    </p>
                    <button type="submit" class="w3-button w3-green w3-round w3-margin-bottom w3-right">Change Password</button>
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}