<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/kanbanstyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/solid.css" integrity="sha384-LA8Ug4T/nhVkyhrSmSirsoAo9iDrBk8E7U80aSPeD+w3vO8PzOJIS6agGcbIwwX0" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/jquery-ui.js" defer></script>
    <script src="../static/kb.js" defer></script>
    <title>Select Work Space</title>
</head>
<body>
    <div class="w3-bar w3-light-blue">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hover-light-blue">Welcome to Can Do, {{ user.first_name }}</a>
        <a href="/profile/{{ user.id }}" class="w3-bar-item w3-button w3-padding-16">Profile</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-disabled">New Board +</a>
        <a href="/logout" class="w3-bar-item w3-button w3-padding-16 w3-right">Logout</a>
    </div>


    <div class="w3-container">
        <div class="w3-container w3-opacity w3-border-bottom w3-margin-bottom">
            <h2>My Boards</h2>
        </div>
        <!-- board buttons -->


        <div class="layout">

            {% for board in boards %}
                <a href="/work/{{ board.id }}" class="borderbtn w3-button w3-round-xlarge w3-border">
                    <h4>{{ board.title }}</h4>
                    <p>created: {{ board.created_at }}</p>
                </a>
            {% endfor %}
            

            <button class="newboard borderbtn w3-button w3-round-xlarge w3-border">
                <h4>Create New Board</h4>
                <i class="fas fa-plus fa-fw w3-large"></i>
            </button>

        </div>

        <div class="w3-container w3-opacity w3-border-bottom w3-margin-bottom">
            <h2>Boards I'm In</h2>
        </div>
        <div class="layout">
            <a href="" class="borderbtn w3-button w3-round-xlarge w3-border">
                <h4>Board a Friend Made</h4>
                <p>last updated at:</p>
                <p>created by:</p>
            </a>


        </div>

        <!-- Modal forms -->

        <div id="addboard" class="w3-modal">
            <div class="w3-modal-content">
                <div class="w3-container w3-light-blue">
                    <h3>Create a New Project</h3>
                </div>
                <div class="w3-container">
                    <span class="w3-button w3-display-topright">&times;</span>
                    <form action="/new_board" class="w3-container" method="POST">
                        {% csrf_token %}
                        <p>
                            <label for="project" class="w3-text-light-blue">Name your Project</label></p>
                            <input type="text" class="w3-input w3-light-grey" id="project" name="projectname" placeholder="New Project Board" maxlength="65">
                        
                        <br>
                        <button type="submit" class="w3-button w3-green w3-round w3-margin-bottom">Enter</button>
                        <a class="cancel w3-button w3-border w3-border-red w3-text-red w3-round w3-margin-bottom w3-right">Cancel</a>
                    </form>
                </div>
            </div>
        </div>



    </div>
</body>
</html>